In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,StandardScaler
import tensorflow as tf
from sklearn.model_selection import train_test_split
import numpy as np
import csv
import json
import ast

In [2]:
#loading additional data stored in json column into dataframe

file_name = "all_housing_data.csv"



df = pd.read_csv(file_name)

ad = pd.DataFrame()


for i, j in df.iterrows():
    
    
    if i == 0:
        a_json = json.loads(j['Additional_fields'])
        
        data = ast.literal_eval(a_json)
        a = list(data.items())
        
        additional_df = pd.DataFrame(a)
        additional_df = additional_df.T
        
    else:

        a_json = json.loads(j['Additional_fields'])
        data = ast.literal_eval(a_json)
        a = list(data.values())
        new_row = pd.DataFrame(a).T
        additional_df = additional_df.append(new_row)
        
        
    


new_header = additional_df.iloc[0] 
additional_df = additional_df[1:] 
additional_df.columns = new_header 


additional_df

,sold_price,address,bedNum,bathNum,sqarefootage,soldOn,List Date,Sold Date,Type,Style,...,Movie Theatre #2 longitude,Movie Theatre #2 latitude,Movie Theatre #3 longitude,Movie Theatre #3 latitude,Bar #1 longitude,Bar #1 latitude,Bar #2 longitude,Bar #2 latitude,Bar #3 longitude,Bar #3 latitude
1,"526,800",22 Olive Avenue,1,1,500-599,"Feb 17, 2021",2021-02-06 00:00:00.0,2021-02-17 00:00:00.0,Condo Apt,Apartment,...,-79.410726,43.762123,-79.452459,43.80648,-79.415858,43.779299,-79.415433,43.780473,-79.41357,43.773198
0,"1,805,000",12 Donna Court,3+1,2,n/a,"Mar 26, 2021",2021-02-24 00:00:00.0,2021-03-26 00:00:00.0,Detached,Backsplit 4,...,-79.410726,43.762123,-79.452459,43.80648,-79.415433,43.780473,-79.415858,43.779299,-79.41357,43.773198
0,"1,300,000",21 Atkins Avenue,3+1,2,n/a,"Mar 07, 2021",2021-03-04 00:00:00.0,2021-03-07 00:00:00.0,Semi-Detached,2-Storey,...,-79.451225,43.651027,-79.414582,43.65535,-79.434549,43.649646,-79.433049,43.64989,-79.437973,43.659135
0,"1,250,000",59 Emerald Crescent,3,2,n/a,"Mar 08, 2021",2021-02-28 00:00:00.0,2021-03-08 00:00:00.0,Semi-Detached,2-Storey,...,-79.515202,43.621033,-79.515202,43.621033,-79.506996,43.600242,-79.436327,43.632821,-79.501167,43.601939
0,"2,025,000",15 Brookmount Road,4+1,4,n/a,"Mar 19, 2021",2021-03-18 00:00:00.0,2021-03-19 00:00:00.0,Detached,3-Storey,...,-79.287311,43.672831,-79.288356,43.703159,-79.312831,43.667414,-79.312831,43.667414,-79.302666,43.669246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"550,000",170 Fort York Boulevard,1,1,500-599,"Apr 01, 2021",2021-03-25 00:00:00.0,2021-04-01 00:00:00.0,Condo Apt,Apartment,...,-79.391227,43.648622,-79.391227,43.648622,-79.398503,43.643594,-79.399587,43.641424,-79.401989,43.643135
0,"585,000",51 Lower Simcoe Street E,1,1,500-599,"Feb 10, 2021",2021-01-27 00:00:00.0,2021-02-10 00:00:00.0,Condo Apt,Apartment,...,-79.390336,43.646595,-79.391227,43.648622,-79.380488,43.643355,-79.383889,43.645306,-79.383074,43.646262
0,"515,000",28 Byng Avenue,1,1,600-699,"Apr 05, 2021",2021-03-06 00:00:00.0,2021-04-05 00:00:00.0,Condo Apt,Apartment,...,-79.410726,43.762123,-79.452459,43.80648,-79.415858,43.779299,-79.41357,43.773198,-79.41357,43.773198
0,"795,000",313 Richmond Street E,2,2,800-899,"Mar 25, 2021",2021-03-24 00:00:00.0,2021-03-25 00:00:00.0,Condo Apt,Apartment,...,-79.378893,43.653117,-79.379553,43.655218,-79.366984,43.6541,-79.370261,43.650656,-79.368384,43.650108
0,"827,000",25 The Esplanade,2,2,1000-1199,"Mar 15, 2021",2021-02-22 00:00:00.0,2021-03-15 00:00:00.0,Condo Apt,Apartment,...,-79.378893,43.653117,-79.379553,43.655218,-79.374822,43.646732,-79.374822,43.646732,-79.374169,43.646634

In [3]:
list(additional_df)

['sold_price',
 'address',
 'bedNum',
 'bathNum',
 'sqarefootage',
 'soldOn',
 'List Date',
 'Sold Date',
 'Type',
 'Style',
 'Area',
 'Municipality',
 'Community',
 'List Price',
 'Bedrooms',
 'Bathrooms',
 'Kitchens',
 'Rooms',
 'Parking Total',
 'Municipality District',
 'Groceries #1 name',
 'Groceries #2 name',
 'Groceries #3 name',
 'Liquor Store #1 name',
 'Liquor Store #2 name',
 'Liquor Store #3 name',
 'Restaurants #1 name',
 'Restaurants #2 name',
 'Restaurants #3 name',
 'Coffee #1 name',
 'Coffee #2 name',
 'Coffee #3 name',
 'Bank #1 name',
 'Bank #2 name',
 'Bank #3 name',
 'Gas Station #1 name',
 'Gas Station #2 name',
 'Gas Station #3 name',
 'Park #1 name',
 'Park #2 name',
 'Park #3 name',
 'Library #1 name',
 'Library #2 name',
 'Library #3 name',
 'Medical Care #1 name',
 'Medical Care #2 name',
 'Medical Care #3 name',
 'Pharmacy #1 name',
 'Pharmacy #2 name',
 'Pharmacy #3 name',
 'Mall #1 name',
 'Mall #2 name',
 'Mall #3 name',
 'Movie Theatre #1 name',
 'Movie Theatre #2 name',
 'Movie Theatre #3 name',
 'Bar #1 name',
 'Bar #2 name',
 'Bar #3 name',
 'Groceries #1 address',
 'Groceries #2 address',
 'Groceries #3 address',
 'Groceries #1 distance',
 'Groceries #2 distance',
 'Groceries #3 distance',
 'Liquor Store #1 address',
 'Liquor Store #2 address',
 'Liquor Store #3 address',
 'Liquor Store #1 distance',
 'Liquor Store #2 distance',
 'Liquor Store #3 distance',
 'Restaurants #1 address',
 'Restaurants #2 address',
 'Restaurants #3 address',
 'Restaurants #1 distance',
 'Restaurants #2 distance',
 'Restaurants #3 distance',
 'Coffee #1 address',
 'Coffee #2 address',
 'Coffee #3 address',
 'Coffee #1 distance',
 'Coffee #2 distance',
 'Coffee #3 distance',
 'Bank #1 address',
 'Bank #2 address',
 'Bank #3 address',
 'Bank #1 distance',
 'Bank #2 distance',
 'Bank #3 distance',
 'Gas Station #1 address',
 'Gas Station #2 address',
 'Gas Station #3 address',
 'Gas Station #1 distance',
 'Gas Station #2 distance',
 'Gas Station #3 distance',
 'Park #1 address',
 'Park #2 address',
 'Park #3 address',
 'Park #1 distance',
 'Park #2 distance',
 'Park #3 distance',
 'Library #1 address',
 'Library #2 address',
 'Library #3 address',
 'Library #1 distance',
 'Library #2 distance',
 'Library #3 distance',
 'Medical Care #1 address',
 'Medical Care #2 address',
 'Medical Care #3 address',
 'Medical Care #1 distance',
 'Medical Care #2 distance',
 'Medical Care #3 distance',
 'Pharmacy #1 address',
 'Pharmacy #2 address',
 'Pharmacy #3 address',
 'Pharmacy #1 distance',
 'Pharmacy #2 distance',
 'Pharmacy #3 distance',
 'Mall #1 address',
 'Mall #2 address',
 'Mall #3 address',
 'Mall #1 distance',
 'Mall #2 distance',
 'Mall #3 distance',
 'Movie Theatre #1 address',
 'Movie Theatre #2 address',
 'Movie Theatre #3 address',
 'Movie Theatre #1 distance',
 'Movie Theatre #2 distance',
 'Movie Theatre #3 distance',
 'Bar #1 address',
 'Bar #2 address',
 'Bar #3 address',
 'Bar #1 distance',
 'Bar #2 distance',
 'Bar #3 distance',
 'longitude',
 'latitude',
 'pageNum',
 'iterationNum',
 'weblink',
 'Groceries #1 longitude',
 'Groceries #1 latitude',
 'Groceries #2 longitude',
 'Groceries #2 latitude',
 'Groceries #3 longitude',
 'Groceries #3 latitude',
 'Liquor Store #1 longitude',
 'Liquor Store #1 latitude',
 'Liquor Store #2 longitude',
 'Liquor Store #2 latitude',
 'Liquor Store #3 longitude',
 'Liquor Store #3 latitude',
 'Restaurants #1 longitude',
 'Restaurants #1 latitude',
 'Restaurants #2 longitude',
 'Restaurants #2 latitude',
 'Restaurants #3 longitude',
 'Restaurants #3 latitude',
 'Coffee #1 longitude',
 'Coffee #1 latitude',
 'Coffee #2 longitude',
 'Coffee #2 latitude',
 'Coffee #3 longitude',
 'Coffee #3 latitude',
 'Bank #1 longitude',
 'Bank #1 latitude',
 'Bank #2 longitude',
 'Bank #2 latitude',
 'Bank #3 longitude',
 'Bank #3 latitude',
 'Gas Station #1 longitude',
 'Gas Station #1 latitude',
 'Gas Station #2 longitude',
 'Gas Station #2 latitude',
 'Gas Station #3 longitude',
 'Gas Station #3 latitude',
 'Park #1 longitude',
 'Park #1 latitude',
 'Park #2 longitude',
 'Park #2 latitude',
 'Park #3 longitude',
 'Park #3 latitude',
 'Library #1 longitude',
 'Library #1 latitude',
 'Library #2 longitude',
 'Library #2 latitude',
 'Library #3 longitude',
 'Library #3 latitude',
 'Medical Care #1 longitude',
 'Medical Care #1 latitude',
 'Medical Care #2 longitude',
 'Medical Care #2 latitude',
 'Medical Care #3 longitude',
 'Medical Care #3 latitude',
 'Pharmacy #1 longitude',
 'Pharmacy #1 latitude',
 'Pharmacy #2 longitude',
 'Pharmacy #2 latitude',
 'Pharmacy #3 longitude',
 'Pharmacy #3 latitude',
 'Mall #1 longitude',
 'Mall #1 latitude',
 'Mall #2 longitude',
 'Mall #2 latitude',
 'Mall #3 longitude',
 'Mall #3 latitude',
 'Movie Theatre #1 longitude',
 'Movie Theatre #1 latitude',
 'Movie Theatre #2 longitude',
 'Movie Theatre #2 latitude',
 'Movie Theatre #3 longitude',
 'Movie Theatre #3 latitude',
 'Bar #1 longitude',
 'Bar #1 latitude',
 'Bar #2 longitude',
 'Bar #2 latitude',
 'Bar #3 longitude',
 'Bar #3 latitude']

In [4]:
data = pd.read_csv("dataset_final.csv")
data

,Sold_price,Squarefootage,Type,Style,Community,Municipality District,longitude,latitude,Bedrooms,Dens,Bathrooms,Kitchens,Rooms,Parking Total
0,205000,950.0,Condo Apartment,Apartment,Black Creek,W05,-79.519841,43.769643,2,0,1,1,5,1.0
1,230000,550.0,Co-op / Co-Ownership Apartment,Apartment,West Hill,E10,-79.182497,43.775476,1,0,1,1,4,0.0
2,299000,1100.0,Condo Townhouse,Stacked Townhouse,Glenfield-Jane Heights,W05,-79.515943,43.749223,3,0,2,1,6,1.0
3,275000,250.0,Condo Apartment,Apartment,Downsview-Roding-CFB,W05,-79.481416,43.725043,0,0,1,1,3,1.0
4,305888,1100.0,Condo Apartment,Apartment,Glenfield-Jane Heights,W05,-79.515943,43.749223,3,0,2,1,6,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6212,6198000,4250.5,Detached,2-Storey,Forest Hill South,C03,-79.418061,43.696341,3,2,5,1,11,3.0
6213,7000000,5000.0,Detached,2-Storey,Forest Hill South,C03,-79.417288,43.691219,4,2,8,1,9,6.0
6214,7150000,5000.0,Detached,2-Storey,Bridle Path-Sunnybrook-York Mills,C12,-79.390151,43.743789,4,1,8,1,10,7.0
6215,6800000,5000.0,Detached,2-Storey,Forest Hill South,C03,-79.415512,43.700019,4,1,7,1,9,6.0
6216,10200000,5000.0,Detached,2-Storey,Bridle Path-Sunnybrook-York Mills,C12,-79.388489,43.753694,6,3,11,1,11,15.0

In [5]:
# defining a callback function for early stopping of model
def get_callbacks():
  return [
    tf.keras.callbacks.EarlyStopping(monitor='val_mean_absolute_error', patience=50, verbose=1),
  ]

In [6]:
# Creating custom R^2 performance metric for keras models
def r2(y_true,y_pred):
    from keras import backend as K
    SS_res = K.sum(K.square(y_true-y_pred))
    SS_tot = K.sum(K.square(y_true - K.mean(y_true)))
    return (1 - SS_res/(SS_tot + K.epsilon()))

In [7]:



X = data.drop(['Sold_price','longitude','latitude'],axis=1)
Y = data.drop(['Squarefootage','Type','Style','Community','Municipality District','Bedrooms','Dens','Bathrooms','Kitchens','Rooms','Parking Total','longitude','latitude'],axis=1)

In [8]:
Y

      Sold_price
0         205000
1         230000
2         299000
3         275000
4         305888
...          ...
6212     6198000
6213     7000000
6214     7150000
6215     6800000
6216    10200000

[6217 rows x 1 columns]

In [9]:
X

,Squarefootage,Type,Style,Community,Municipality District,Bedrooms,Dens,Bathrooms,Kitchens,Rooms,Parking Total
0,950.0,Condo Apartment,Apartment,Black Creek,W05,2,0,1,1,5,1.0
1,550.0,Co-op / Co-Ownership Apartment,Apartment,West Hill,E10,1,0,1,1,4,0.0
2,1100.0,Condo Townhouse,Stacked Townhouse,Glenfield-Jane Heights,W05,3,0,2,1,6,1.0
3,250.0,Condo Apartment,Apartment,Downsview-Roding-CFB,W05,0,0,1,1,3,1.0
4,1100.0,Condo Apartment,Apartment,Glenfield-Jane Heights,W05,3,0,2,1,6,1.0
...,...,...,...,...,...,...,...,...,...,...,...
6212,4250.5,Detached,2-Storey,Forest Hill South,C03,3,2,5,1,11,3.0
6213,5000.0,Detached,2-Storey,Forest Hill South,C03,4,2,8,1,9,6.0
6214,5000.0,Detached,2-Storey,Bridle Path-Sunnybrook-York Mills,C12,4,1,8,1,10,7.0
6215,5000.0,Detached,2-Storey,Forest Hill South,C03,4,1,7,1,9,6.0
6216,5000.0,Detached,2-Storey,Bridle Path-Sunnybrook-York Mills,C12,6,3,11,1,11,15.0

In [10]:
for i in range(len(X.columns)):
    if type(X.iloc[0,i])==str:
        X[X.columns[i]] = LabelEncoder().fit_transform(X[X.columns[i]])
    else:
        p = X[X.columns[i]]
        if p.min()==p.max():
            continue
        p -= p.min()
        p /= p.max()
        X[X.columns[i]] = p

In [11]:
yScaler = StandardScaler()
yScaler.fit(Y)
Y = yScaler.transform(Y)

In [12]:
Xtr,Xts,Ytr,Yts = train_test_split(X,Y,test_size=0.1, random_state=42)

In [13]:
model = tf.keras.models.Sequential([
  tf.keras.layers.Flatten(input_shape=[X.shape[1]]),
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dropout(0.2),
  tf.keras.layers.Dense(10),
  tf.keras.layers.Dense(1)
])

2021-09-04 17:21:53.741911: I tensorflow/compiler/jit/xla_cpu_device.cc:41] Not creating XLA devices, tf_xla_enable_xla_devices not set
2021-09-04 17:21:53.742251: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [14]:
model.compile(optimizer='adam',
              loss=tf.keras.losses.mean_squared_error,
              metrics=['mean_squared_error'])

In [15]:
# model.fit(X, Y, epochs=500)

In [16]:
def prediction(rows):
    result = model.predict(rows)
    scaledRes = []
    for i in result:
        scaledRes += [yScaler.inverse_transform(i)]
    return scaledRes

In [17]:
# model.evaluate(Xts, Yts, batch_size=128, verbose =1)

In [18]:
# x = np.array(X.iloc[0])

In [19]:
# x

In [20]:
# X.iloc[0]

In [21]:


# x = np.array(X.iloc[0])

# x = x.reshape(1,11)
# x

In [22]:
# result = model.predict(x)
# print(yScaler.inverse_transform(result))

In [23]:
#Setting and Training using a Hyperparameter Tuner

In [24]:
import keras_tuner as kt
from tensorflow import keras
from keras_tuner import Hyperband,RandomSearch
import keras_tuner
from tensorflow.keras import layers

from tensorflow.keras.callbacks import EarlyStopping
callback = EarlyStopping(monitor='val_mean_absolute_error', patience=10, verbose=1)


def model_builder(hp):
    model = keras.Sequential()
    model.add(keras.layers.Flatten(input_shape=[X.shape[1]]))
    for i in range(hp.Int("num_layers", 2, 10)): #number of layers
        model.add(
            layers.Dense(
                units=hp.Int("units_" + str(i), min_value=11, max_value=512, step=32), #number of units
                activation="relu",
            )
        )
    model.add(keras.layers.Dense(1))
    hp_learning_rate = hp.Choice('learning_rate', values=[1e-2, 1e-3, 1e-4])
    model.compile(
        optimizer=keras.optimizers.Adam(hp.Choice("learning_rate", [1e-2, 1e-3, 1e-4])),
                loss=keras.losses.mean_absolute_error,
              metrics=['mean_squared_error',r2,keras.losses.mean_absolute_error])
    return model

In [25]:
tuner = kt.Hyperband(model_builder,
                     objective=keras_tuner.Objective("val_r2", direction="max"),
                     max_epochs=1000,
                     executions_per_trial=3,
                     overwrite=True,
                     directory="my_dir",
                     project_name="KerasRegressor",
                    
)

In [ ]:
tuner.search(Xtr, Ytr, epochs=1000, validation_split=0.2,callbacks=[callback])

Trial 267 Complete [00h 00m 05s]
val_r2: 0.4328899681568146

Best val_r2 So Far: 0.532827228307724
Total elapsed time: 00h 37m 20s

Search: Running Trial #268

Hyperparameter    |Value             |Best Value So Far
num_layers        |9                 |3
units_0           |363               |395
units_1           |491               |459
learning_rate     |0.001             |0.01
units_2           |267               |75
units_3           |107               |491
units_4           |267               |139
units_5           |331               |235
units_6           |43                |139
units_7           |459               |107
units_8           |395               |331
units_9           |139               |107
tuner/epochs      |2                 |2
tuner/initial_e...|0                 |0
tuner/bracket     |6                 |6
tuner/round       |0                 |0

Epoch 1/2
140/140 [==============================] - 3s 14ms/step - loss: 0.5727 - mean_squared_error: 1.1839 - r2: -0.1208 - mean_absolute_error: 0.5727 - val_loss: 0.4871 - val_mean_squared_error: 0.9985 - val_r2: -0.0410 - val_mean_absolute_error: 0.4871
Epoch 2/2
140/140 [==============================] - 2s 12ms/step - loss: 0.4717 - mean_squared_error: 0.9471 - r2: 0.1355 - mean_absolute_error: 0.4717 - val_loss: 0.4144 - val_mean_squared_error: 0.6194 - val_r2: 0.2420 - val_mean_absolute_error: 0.4144
Epoch 1/2
140/140 [==============================] - 3s 13ms/step - loss: 0.5788 - mean_squared_error: 1.1763 - r2: -0.2043 - mean_absolute_error: 0.5788 - val_loss: 0.4877 - val_mean_squared_error: 1.0225 - val_r2: -0.0446 - val_mean_absolute_error: 0.4877
Epoch 2/2
140/140 [==============================] - 2s 12ms/step - loss: 0.4662 - mean_squared_error: 0.8529 - r2: 0.0225 - mean_absolute_error: 0.4662 - val_loss: 0.4285 - val_mean_squared_error: 0.6578 - val_r2: 0.3024 - val_mean_absolute_error: 0.4285
Epoch 1/2
140/140 [==============================] - 3s 14ms/step - loss: 0.5495 - mean_squared_error: 1.0984 - r2: -0.4492 - mean_absolute_error: 0.5495 - val_loss: 0.4951 - val_mean_squared_error: 0.9563 - val_r2: 0.0345 - val_mean_absolute_error: 0.4951
Epoch 2/2
 90/140 [==================>...........] - ETA: 0s - loss: 0.4649 - mean_squared_error: 0.8607 - r2: 0.1030 - mean_absolute_error: 0.4649

In [ ]:
bestHparams=tuner.get_best_hyperparameters(num_trials=1)[0]

In [ ]:
model = tuner.hypermodel.build(best_hps)
model.fit(X, Y, epochs=50, validation_split=0.2)

In [93]:
model.evaluate(X, Y)

195/195 [==============================] - 0s 357us/step - loss: 0.1856 - mean_squared_error: 0.1856

[0.18559598922729492, 0.18559598922729492]